#body{

  background-color: rgb(148, 140, 140);

}
#worksheets{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: -20px;
    color: whitesmoke;
    margin-top: -50px;
    
  }
#quiz{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  font-size: 30px;
  color:whitesmoke;
  padding-right: 200px;
  margin-top: -65px;
}
#heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: 30px;
  color: whitesmoke;
  padding-left: 110px;
  margin-top: -60px;
}
#about{
  text-align: right;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-right: 360px;
  margin-top: -68px;
}
#home{
  text-align: right;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-right: 500px;
  margin-top: -63px;
}
.header {
  overflow: hidden;
  background-color: #4b4a4a;
  border-radius: 10px;
  
} 
#logo {
  width: 100px;
  border-radius: 100%;
}

#MC1{
  background-color: #4b4a4a;
  height: 60px;
  border-radius: 15px;
  
}

#chN1{
  padding-left: 10px;
   color: whitesmoke;
   font-size:30px;
   font-family:fantasy;
}

#chT1{
  color: whitesmoke;
  font-size:30px;
  font-family:fantasy;
  padding-left: 100px;
  margin-top: -65px;
}